<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXR3Imo2f80K94ESKNvsPbi7N-ffweVGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>377738380705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ai.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bankapp-86993</string>
	<key>STORAGE_BUCKET</key>
	<string>bankapp-86993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377738380705:ios:564ccccb43496f8a64b7e0</string>
</dict>
</plist>